* {
  border: none;
  outline: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.85em;
  overflow-x: hidden;
  color: #333;
  margin: 0px;
  overscroll-behavior: contain;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
textarea {
  padding: 0;
  margin: 0;
  line-height: inherit;
  line-height: 170%;
}

html {
  scroll-behavior: smooth;
}
